{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    <table id="navigation">
        <tr>
            <td>
                <div class="navigation-button button info-navigation-button info-over">
                    INFO
                </div>
            </td>
            <td>
                <div class="navigation-button button shop-navigation-button shop-over">
                    SHOP
                </div>
            </td>
            <td>
                <div class="navigation-button button export-navigation-button">
                    EXPORT
                </div>
            </td>
            <td>
                <a href="#star-products">
                    <div class="navigation-button button">
                        Star Products
                    </div>
                </a>
            </td>
            <td>
                <a href="#potentials">
                    <div class="navigation-button button">
                        Potentials
                    </div>
                </a>
            </td>
            <td>
                <a href="#black-horses">
                    <div class="navigation-button button">
                        Black Horses
                    </div>
                </a>
            </td>
            <td>
                <a href="#end-of-list">
                    <div class="navigation-button button">
                        End of List
                    </div>
                </a>
            </td>
            <td>
                <a href="#difficult-cases">
                    <div class="navigation-button button">
                        Difficult Cases
                    </div>
                </a>
            </td>
        </tr>
    </table>

    <div id="navigation-place"></div>

    <div id="info" class="info-over">
        <p>Last update: <span class="value">{{ lastUpdate }}</span></p>

        <p>
            Avg unique views:
            <span class="value">{{ avgUniqueViews }}</span>
            <span class="value last">
                {% if (avgUniqueViews - lastAvgUniqueViews) > 0 %}
                    +
                {% endif %}
                {{ avgUniqueViews - lastAvgUniqueViews }}
            </span>
        </p>
        <p>
            Avg conversion:
            <span class="value">{{ avgConversion }} %</span>
            <span class="value last">
                {% if (avgConversion - lastAvgConversion) > 0 %}
                    +
                {% endif %}
                {{ avgConversion - lastAvgConversion }}
            </span>
        </p>
        <p>
            Avg unique views at interactive products:
            <span class="value">{{ avgUniqueViewsAtInteractiveProducts }}</span>
            <span class="value last">
                {% if (avgUniqueViewsAtInteractiveProducts - lastAvgUniqueViewsAtInteractiveProducts) > 0 %}
                    +
                {% endif %}
                {{ avgUniqueViewsAtInteractiveProducts - lastAvgUniqueViewsAtInteractiveProducts }}
            </span>
        </p>
        <p>
            Avg conversion at interactive products:
            <span class="value">{{ avgConversionAtInteractiveProducts }} %</span>
            <span class="value last">
                {% if (avgConversionAtInteractiveProducts - lastAvgConversionAtInteractiveProducts) > 0 %}
                    +
                {% endif %}
                {{ avgConversionAtInteractiveProducts - lastAvgConversionAtInteractiveProducts }}
            </span>
        </p>

        <p>Number of active products: <span class="value">{{ productCount }}</span></p>
        <p>Products without interaction at all times: <span class="value">{{ nullStatisticsCount }}</span></p>
        <p>Products with statistics conflict: <span class="value">{{ cheatCount }}</span></p>
        <p>Relative accuracy: <span class="value">{{ accuracy }} %</span></p>
    </div>

    <div id="shop" class="shop-over">
        <div class="block">
            <a href="?user_id=1">
                <div class="button">
                    Sexshopcenter
                </div>
            </a>
        </div>
        <div class="block">
            <a href="?user_id=2">
                <div class="button">
                    MbKandallo
                </div>
            </a>
        </div>
        <div class="block">
            <a href="?user_id=3">
                <div class="button">
                    Tolnai Szerszám
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block container %}

    {% if exportUrl %}
        <div class="export-url">
            <a href="{{ exportUrl }}">> Download Export File</a>
        </div>
    {% endif %}

    {% for reportVersions in reportList %}
        {% for reportItem in reportVersions %}
            {%  if loop.first %}
                <a name="{{ reportItem.reportId }}"></a>
                <div id="{{ reportItem.reportId }}" class="report-all-version-container-block">
            {% endif %}

            <div class="{{ reportItem.version }}-version-container-block report-a-version-container-block">

            {% set vars = {} %}
            {% set vars = vars|merge({'reportId': reportItem.reportId}) %}
            {% set vars = vars|merge({'version': reportItem.version}) %}
            {% set vars = vars|merge({'reportName': reportItem.reportName}) %}
            {% set vars = vars|merge({'reportArray': reportItem.reportArray}) %}
            {% set vars = vars|merge({'reportConditions': reportItem.reportConditions}) %}
            {% set vars = vars|merge({'reportOrders': reportItem.reportOrders}) %}
            {% include 'AppBundle::product_placement_report_block.html.twig' with vars %}

            </div>

            {%  if loop.last %}
                <div class="clearfix"></div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {

            $('.info-over').mouseover(function() {
                $('#info').show();
            });
            $('.info-over').mouseout(function() {
                $('#info').hide();
            });
            $('.shop-over').mouseover(function() {
                $('#shop').show();
            });
            $('.shop-over').mouseout(function() {
                $('#shop').hide();
            });

        });
    </script>
{% endblock %}