{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    <table id="navigation">
        <tr>
            <td>
                <a href="#star-products">
                    <div class="navigation-button button">
                        Star Products
                    </div>
                </a>
            </td>
            <td>
                <a href="#black-horses">
                    <div class="navigation-button button">
                        Black Horses
                    </div>
                </a>
            </td>
            <td>
                <a href="#end-of-list">
                    <div class="navigation-button button">
                        End of List
                    </div>
                </a>
            </td>
            <td>
                <a href="#potentials">
                    <div class="navigation-button button">
                        Potentials
                    </div>
                </a>
            </td>
            <td>
                <a href="#difficult-cases">
                    <div class="navigation-button button">
                        Difficult Cases
                    </div>
                </a>
            </td>
            <td>
                <a href="#star-duos">
                    <div class="navigation-button button">
                        Star Dous
                    </div>
                </a>
            </td>
        </tr>
    </table>

    <div id="navigation-place"></div>
{% endblock %}

{% block container %}

    <div class="info">
        <p>Last update: <span class="value">{{ lastUpdate }}</span></p>
        <p>Avg unique views: <span class="value">{{ avgUniqueViews }}</span></p>
        <p>Avg conversion: <span class="value">{{ avgConversion }} %</span></p>
        <p>Relative accuracy: <span class="value">{{ accuracy }} %</span></p>
    </div>

    {% for reportVersions in reportList %}
        {% for reportItem in reportVersions %}
            {%  if loop.first %}
                <a name="{{ reportItem.reportId }}"></a>
                <div id="{{ reportItem.reportId }}" class="report-all-version-container-block">
            {% endif %}

            <div class="{{ reportItem.version }}-version-container-block report-a-version-container-block">

            {% set vars = {} %}
            {% set vars = vars|merge({'reportId': reportItem.reportId}) %}
            {% set vars = vars|merge({'version': reportItem.version}) %}
            {% set vars = vars|merge({'reportName': reportItem.reportName}) %}
            {% set vars = vars|merge({'reportArray': reportItem.reportArray}) %}
            {% set vars = vars|merge({'reportConditions': reportItem.reportConditions}) %}
            {% set vars = vars|merge({'reportOrders': reportItem.reportOrders}) %}
            {% include 'AppBundle::product_placement_report_block.html.twig' with vars %}

            </div>

            {%  if loop.last %}
                <div class="clearfix"></div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}